
.container {
    display: flex;
    justify-content: center;
    margin: 20px;
    box-shadow: #E69432;
}

h1 {
    font-family: 'Arial', bold;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 40px;
    color: #231304;
}