.reset-btn__container {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.reset-btn {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #87C1B2;
    font-weight: 800;
    border: none;
    border-radius: 15px;
    cursor: pointer;

    &__text {
        font-size: 20px;
        text-transform: uppercase;
        color: #231304;
    }
}
