<!-- <div class="container">
    <h2>Moves</h2>
</div> -->
<div class="container">
  <div class="playerMove">
    <p *ngIf="winner !== 1">{{ player1Moves }} </p>
    <p *ngIf="winner === 1">Win</p>
</div>
<div class="playerMove">
    <p *ngIf="winner !== 2">{{ player2Moves }} </p>
    <p *ngIf="winner === 2">Win</p>
</div>
</div>
<div class="container">
    <!-- Afficher les coups des joueurs au-dessus du plateau -->
  
    <div class="board">
      <div *ngFor="let col of [0,1,2,3,4,5,6]">
        <div *ngFor="let row of [0,1,2,3,4,5]" 
             (click)="cellClicked(row, col)"
             [ngClass]="getCellClass(grid[row][col])">
        </div>
      </div>
    </div>
  </div>
  